.fupl-panel {
  margin:1rem 0 0;
  padding: .5rem 0 0;
  border-top:1px dotted $fupl-panel-border-color;
  text-align: center;

  .fupl-button {
    label {
      margin:0;
      cursor: pointer;

      [disabled] & {
        &, &:hover, &:active, &:focus {
          cursor: not-allowed;
          font-style: italic;
          color: $fupl-disabled-color!important;
          border-color: $fupl-disabled-color!important;
          background-color: transparent!important;
        }
      }
    }
  }

  .fupl-dd-text {
    font-size:85%;
    margin:.5rem 0 0;
    font-weight: $fupl-font-weight-bold;
    display: block;

    @include fupl-media-query-min(md) {
      margin:0 0 0 .5rem;
      display: inline;
      white-space: nowrap;
    }
  }
  .fupl-info-text  {
    font-size:75%;
    font-style: italic;
    color: $fupl-info-text-color;
    margin-top:.5rem;
    &, & > div {  // optimization info
      margin-top:.5rem;
    }
  }

  .fupl-help-text {
    margin-top: 1rem;
    font-weight: $fupl-help-text-font-weight;
  }

}
