// immagine singola
.fupl-type-img {

  .fupl-item {
    max-width:400px;
    height:auto;
  }

  &.fupl-multiple {
    .fupl-result {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(2, minmax(120px, 1fr));

      .fupl-img {
        width:100%;
        height: 140px;
        background: $fupl-img-background-color;
        text-align: center;
        padding:2px;

        img {
          max-width:100%;
          max-height:100%;
          width:auto;
          height:auto;
        }
      }

      @include media-breakpoint-up(sm) {
        grid-template-columns: repeat(2, minmax(180px, 1fr));
        .fupl-img {
          height: 180px;
        }
      }
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        .fupl-img {
          height: 200px;
        }
      }
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
      }
      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(5, minmax(180px, 1fr));
      }

      .fupl-item {
        max-width:100%;
        height:auto;
      }
    }
  }
}
