.fupl {
  position: relative;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  outline: 2px dashed $fupl-outline-color;
  outline-offset: 0;
  background-color: $fupl-background-color;
  padding: 1rem;

  &.fupl-is-dragover:not(.fupl-sorting) {

		outline-offset: -.5rem;
    outline-color: $fupl-outline-color-dragover;

    background-color: $fupl-background-color-dragover;

    .fupl-panel {
      border: none;
    }

    [disabled] & {
      position: relative;
      outline-offset: 0;
      outline-color: $fupl-disabled-color;

      background-color: transparent;

      &::before {
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color: $fupl-disabled-color;
        font-size: 2rem;
        content:'Non è possibile caricare file';
      }

      .fupl-result, .fupl-panel {
        opacity:0;
      }
    }
  }

  [disabled] & {
    cursor: no-drop;
    color: $fupl-disabled-color!important;
    font-style: italic!important;
  }
}
