.fupl-legend { // tag legend
  margin:0 0 .5rem;
  font-size:1rem;

  // da gestire all'interno del progetto
  // &.required:not(.disabled) {
  //   &::before {
  //     color: #c00;
  //     margin-right:.1em;
  //     font-size: 1.1rem;
  //     line-height: 1;
  //     content: '\2733'; //'*';
  //   }
  // }

  [disabled] & {
    font-style: italic;
    color: $fupl-disabled-color;
  }
}

