.fupl-alert-overlay {
  position: absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;

  backdrop-filter: blur(2px);

  @supports not (backdrop-filter: blur(2px)) {
    background-color: $fupl-alert-overlay-fallback-bg;
  };
}
.fupl-alert {
  display: flex;
  position: absolute;
  top:5px;
  left:50%;

  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  transform: translateX(-50%);

  border: $fupl-alert-border;
  border-radius: $fupl-alert-border-radius;
  box-shadow: $fupl-alert-box-shadow;
  background-color: $fupl-alert-bg;

  width:600px;
  max-width: 100%;
  min-height: 200px;
  // max-height: 100%;

  color: $fupl-alert-color;

  > div {
    width:100%
  }
}
.fupl-alert-header {
  border-bottom: $fupl-alert-border;
  padding: .5rem;
  text-align:center;
  font-weight: bold;
}
.fupl-alert-body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
  // text-align: center;

  ul {
    margin: 0 0 .5rem;
    // width:100%;
    text-align: left;
  }
}
.fupl-alert-footer {
  border-top: $fupl-alert-border;
  padding: .5rem;
  text-align: center;
}
