.fupl-sortable {
  position: relative;
  .fupl-item[draggable] {
    user-select: none;
    cursor: grab;
    transition: transform .3s linear;
  }
}


// class attached to an element when begin dragged
.fupl-item-sorting {
  opacity: .6;

  $line_size: 10px;
  background-color: #ddd;
  background-image: repeating-linear-gradient(
    45deg, transparent,
    transparent $line_size,
    rgba($white,.5) $line_size,
    rgba($white,.5) ($line_size * 2)
  );
}

.fupl-item-dragover {
  transform: scale(.8);
}

.fupl-wrapper:not([disabled]) {


  &.fupl-type-img {
    .fupl-sortable-icon {
      display:block;
      width:100%;
      margin:1rem 0;
    }
  }
  &.fupl-type-doc {
    .fupl-sortable-icon {
      display:block;
      text-align: center;
      width:100%;
      margin:.5rem 0;
    }
  }

  .fupl-sortable-icon {

    > div {
      display: block;
      height: $fupl-sortable-icon-dot-size * 3;
      width: $fupl-sortable-icon-dot-size * 5;
      margin: 0 auto;
      cursor: grab;
      position: relative;

      &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          height: $fupl-sortable-icon-dot-size;
          width: $fupl-sortable-icon-dot-size;
          border-radius:50%;
          background-color: $fupl-sortable-icon-dot-color;
          color: $fupl-sortable-icon-dot-color; // inherit from box shadow

          box-shadow: ($fupl-sortable-icon-dot-size * -2) ($fupl-sortable-icon-dot-size * 0) 0 0,       // Top left
                      ($fupl-sortable-icon-dot-size * 2) ($fupl-sortable-icon-dot-size * 0) 0 0,        // Top right
                      ($fupl-sortable-icon-dot-size * -2) ($fupl-sortable-icon-dot-size * 2) 0 0,        // Bottom left
                      ($fupl-sortable-icon-dot-size * 0) ($fupl-sortable-icon-dot-size * 2) 0 0,          // Bottom middle
                      ($fupl-sortable-icon-dot-size * 2) ($fupl-sortable-icon-dot-size * 2) 0 0          // Bottom right
      }
    }
  }


  .fupl-sortable {
    .fupl-item:hover {
      .fupl-sortable-icon {
        > div::after {
          background-color: $fupl-sortable-icon-hover-dot-color;
          color: $fupl-sortable-icon-hover-dot-color;
        }
      }
    }
  }
}
