// <div class="fupl-loading"><progress class="fupl-progress" max=100 value=0></progress></div>
.fupl-item.fupl-is-uploading {
  position: relative;

  .fupl-loading {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    align-items: center;
    justify-content: center;

    background: $fupl-loading-background-color;

    backdrop-filter: blur(3px);
  }

  .fupl-img {
    filter: blur(3px);
  }

  .fupl-progress {
    border-radius:5px;
    width:90%;
    height:5px;
  }

}
