.fupl {
  padding:1rem;
  outline: 2px dashed $fupl-outline-color;
  outline-offset: 0;
  transition: outline-offset .15s ease-in-out, background-color .15s linear;
  background-color: $fupl-background-color;

  &.fupl-is-dragover {
		outline-offset: -.5rem;
		outline-color: $fupl-outline-color-dragover;
    background-color: $fupl-background-color-dragover;

    .fupl-panel {
      border: none;
    }
    [disabled] & {
      outline-offset: 0;
      outline-color: $fupl-disabled-color;
      background-color: transparent;

      position: relative;
      &::before {
        content:'Non è possibile caricare file';
        position: absolute;
        display: block;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        color: $fupl-disabled-color;
        font-size: 2rem;

      }

      .fupl-result, .fupl-panel {
        opacity:0;
      }
    }
  }

  [disabled] & {
    cursor: no-drop;
    font-style: italic!important;
    color: $fupl-disabled-color!important;
  }

}
