.fupl-sortable {
  position: relative;
  .fupl-item[draggable] {
    user-select: none;
    cursor: grab;
  }
}


// class attached to an element when begin dragged
.fupl-item-sorting {
  opacity: .7;
  position: relative;
  transform: scale(.8);
  outline:2px dashed #000;
  outline-offset: 6px;
  border-radius:4px;
}
