.fupl-panel {
  padding: .5rem 0 0;
  margin: 1rem 0 0;
  text-align: center;
  border-top: 1px dotted $fupl-panel-border-color;

  .fupl-button {
    label {
      margin: 0;
      cursor: pointer;

      [disabled] & {
        &, &:hover, &:active, &:focus { /* stylelint-disable-line max-nesting-depth */
          /* stylelint-disable declaration-no-important */
          font-style: italic;
          color: $fupl-disabled-color !important;
          cursor: not-allowed;
          background-color: transparent !important;
          border-color: $fupl-disabled-color !important;
          /* stylelint-enable declaration-no-important */
        }
      }
    }
  }

  .fupl-dd-text {
    @include fupl-media-query-min(md) {
      display: inline;
      margin: 0 0 0 .5rem;
      white-space: nowrap;
    }

    display: block;
    margin: .5rem 0 0;
    font-size: 85%;
    font-weight: $fupl-font-weight-bold;

  }
  .fupl-info-text  {
    margin-top: .5rem;
    font-size: $fupl-small-font-size;
    font-style: italic;
    color: $fupl-info-text-color;
    &, > div {  // optimization info
      margin-top: .5rem;
    }
  }
}

@if $fupl-set-fupl-help-rules {
  .fupl-help-text {
    font-size: $fupl-small-font-size;
  }
}
