.fupl-panel {
  margin:1rem 0 0;
  border-top:1px dotted $fupl-panel-border-color;
  padding: .5rem 0 0;
  text-align: center;

  .fupl-button {
    label {
      margin:0;
      cursor: pointer;

      [disabled] & {
        &, &:hover, &:active, &:focus {
          border-color: $fupl-disabled-color!important;
          background-color: transparent!important;
          cursor: not-allowed;
          color: $fupl-disabled-color!important;
          font-style: italic;
        }
      }
    }
  }

  .fupl-dd-text {
    @include fupl-media-query-min(md) {
      display: inline;
      margin:0 0 0 .5rem;
      white-space: nowrap;
    }

    display: block;
    margin:.5rem 0 0;
    font-size:85%;
    font-weight: $fupl-font-weight-bold;

  }
  .fupl-info-text  {
    margin-top:.5rem;
    color: $fupl-info-text-color;
    font-size:75%;
    font-style: italic;
    &, & > div {  // optimization info
      margin-top:.5rem;
    }
  }
}

@if $fupl-set-fupl-help-rules {
  .fupl-help-text {
    font-size:80%;
  }
}
