.fupl-type-doc {

  .fupl-doc-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items:center;
    margin-bottom:.2rem;
    max-width: 100%;
  }

  .fupl-remove {
    flex:0;
  }
  .fupl-doc {
    flex:1;
    padding-left:.4rem;
  }

  &.fupl-multiple {

    .fupl-item {
      padding:.2rem;
      border: 1px solid $fupl-items-border-color;
      border-radius: $fupl-items-border-radius;
    }

    .fupl-result {

      @include media-breakpoint-up(sm) {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, minmax(40%, 1fr));
      }
      @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, minmax(25%, 1fr));
      }
      @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(4, minmax(20%, 1fr));
      }
      @include media-breakpoint-up(xl) {
        grid-template-columns: repeat(5, minmax(15%, 1fr));
      }
    }
  }
}
