
// trigger elimina
.fupl-remove {
  text-align: left;
  .close { // rimuove impostazione di bootstrap
    float: none;
  }
}

.fupl-file-info {
  font-size: $fupl-small-font-size;
  margin-top:.4rem;

}

// classe applicata agli span in cui è inserita un'unità di misura
// es <span class="fupl-unit">MB</span>
.fupl-unit {
  font-size: 90%;
  margin-left: 3px;
}
