$fupl-outline-color: #ddd!default;
$fupl-outline-color-dragover: #e4d70d!default;
$fupl-background-color: #fbfbfb!default;
$fupl-background-color-dragover: #f8f6dc!default;
$fupl-panel-border-color: #666!default;
$fupl-img-background-color: rgba($black, .05)!default;
$fupl-loading-background-color: rgba($white, .6)!default;
