$fupl-outline-color: #ddd!default;
$fupl-outline-color-dragover: #e4d70d!default;
$fupl-background-color: #fbfbfb!default;
$fupl-background-color-dragover: #f8f6dc!default;
$fupl-panel-border-color: #666!default;
$fupl-items-border-color: #ccc!default;
$fupl-items-border-radius: $border-radius!default;
$fupl-img-background-color: rgba($black, .05)!default;
$fupl-loading-background-color: rgba($white, .6)!default;

$fupl-sortable-icon-dot-size: 5px!default;
$fupl-sortable-icon-dot-color: #333!default;
$fupl-sortable-icon-hover-dot-color: #c00!default;

$fupl-disabled-color: #999!default;
$fupl-info-text-color:$text-muted!default;
