@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$fupl-outline-color: #ddd;
$fupl-outline-color-dragover: #e4d70d;
$fupl-background-color: #fbfbfb;
$fupl-background-color-dragover: #f8f6dc;
$fupl-panel-border-color: #666;
$fupl-img-background-color: rgba($black, .05);
