.file_upl input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}





/*

.file_uploader.has-advanced-upload
{
	outline: 2px dashed #92b0b3;
	outline-offset: -10px;

	-webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
	transition: outline-offset .15s ease-in-out, background-color .15s linear;
}
.file_uploader.is-dragover
{
	outline-offset: -20px;
	outline-color: #c8dadf;
	background-color: #fff;
}
	.file_uploader__dragndrop,
	.file_uploader__icon
	{
		display: none;
	}
	.file_uploader.has-advanced-upload .file_uploader__dragndrop
	{
		display: inline;
	}
	.file_uploader.has-advanced-upload .file_uploader__icon
	{
		width: 100%;
		height: 80px;
		fill: #92b0b3;
		display: block;
		margin-bottom: 40px;
	}

	.file_uploader.is-uploading .file_uploader__input,
	.file_uploader.is-success .file_uploader__input,
	.file_uploader.is-error .file_uploader__input
	{
		visibility: hidden;
	}

	.file_uploader__uploading,
	.file_uploader__success,
	.file_uploader__error
	{
		display: none;
	}
	.file_uploader.is-uploading .file_uploader__uploading,
	.file_uploader.is-success .file_uploader__success,
	.file_uploader.is-error .file_uploader__error
	{
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;

		-webkit-transform: translateY( -50% );
		transform: translateY( -50% );
	}
	.file_uploader__uploading
	{
		font-style: italic;
	}
	.file_uploader__success
	{
		-webkit-animation: appear-from-inside .25s ease-in-out;
		animation: appear-from-inside .25s ease-in-out;
	}
		@-webkit-keyframes appear-from-inside
		{
			from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
			75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
			to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
		}
		@keyframes appear-from-inside
		{
			from	{ transform: translateY( -50% ) scale( 0 ); }
			75%		{ transform: translateY( -50% ) scale( 1.1 ); }
			to		{ transform: translateY( -50% ) scale( 1 ); }
		}

	.file_uploader__restart
	{
		font-weight: 700;
	}
	.file_uploader__restart:focus,
	.file_uploader__restart:hover
	{
		color: #39bfd3;
	}

	.js .file_uploader__file
	{
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
	.js .file_uploader__file + label
	{
		max-width: 80%;
		text-overflow: ellipsis;
		white-space: nowrap;
		cursor: pointer;
		display: inline-block;
		overflow: hidden;
	}
	.js .file_uploader__file + label:hover strong,
	.file_uploader__file:focus + label strong,
	.file_uploader__file.has-focus + label strong
	{
		color: #39bfd3;
	}
	.js .file_uploader__file:focus + label,
	.js .file_uploader__file.has-focus + label
	{
		outline: 1px dotted #000;
		outline: -webkit-focus-ring-color auto 5px;
	}
		.js .file_uploader__file + label *
		{
			// pointer-events: none; // in case of FastClick lib use
		}

	.no-js .file_uploader__file + label
	{
		display: none;
	}

	.no-js .file_uploader__button
	{
		display: block;
	}
	.file_uploader__button
	{
		font-weight: 700;
		color: #e5edf1;
		background-color: #39bfd3;
		display: none;
		padding: 8px 16px;
		margin: 40px auto 0;
	}
		.file_uploader__button:hover,
		.file_uploader__button:focus
		{
			background-color: #0f3c4b;
		}


*/
