doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport")
    title= title

    link(rel="stylesheet" href="/demo/assets/demo.css")

    // favicon

  body
    <div class="container">
      h1= title
      block body


      block js
