extends _tpl.pug
block variables
  - title = 'Bootstrap Toast Notification demo'

block head
  link(rel="stylesheet" href="./css/bs4_toast_notificaton.css")

block intro
  p.
    This demo shows how to use an external notification API
    overriding the default #[code window.alert].

  p.
    You need some extra css (#[code /demo/css/bs4_toast_notificaton.css]) and
    a custom function to ovverride the default #[code alert_api] one
    (#[code showToastNotification] in this example).
    #[br]
    Bootstrap 4 #[a(href="https://getbootstrap.com/docs/4.5/components/toasts/") Toast component]
    and (#[a(href="https://jquery.com/") jQuery] are also requested.

  p.
    To show the notification, try to load some images exceeding
    the specified constraints.

block fupl
  div(data-file-uploader
    data-filetype="img"
    data-uploader_legend="true"
  )
    label(for="input_file") This is the original input field label
    input#input_file(name="myfile" type="file" multiple)

block external_scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js" integrity="sha512-/DXTXr6nQodMUiq+IUJYCt2PPOUjrHJ9wFrqpJ3XkgPNOZVfMok7cRw6CSxyCQxXn6ozlESsSh1/sMCTF1rL/g==" crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js" integrity="sha512-8qmis31OQi6hIRgvkht0s6mCOittjMa9GMqtK9hes5iEQBQE/Ca6yGE5FsW36vyipGoWQswBj/QBm2JR086Rkw==" crossorigin="anonymous")

block js
  script(src="./js/bs4-toast-notification.js" type="module")
