extends _tpl.pug
block variables
  - title = 'Callbacks demo'
block intro
  p.
    An alert will be triggered for each configurable callback, also printing
    function arguments in console.
  p Take a look at #[a(href="https://github.com/massimo-cassandro/js-file-uploader/wiki") Wiki pages] for more info.

block fupl
  div(data-file-uploader
    data-filetype="img"
    data-uploader_legend="true"
    data-uploader_legend_text="Callbacks demo"
  )



block js
  script(src="/demo/js/callbacks-demo.js" type="module")


