@import './libraries/prism';

body {
  background-color: #e9e9e9;
}

.header {
  font-size:.9rem;
  color: #999;
  padding:.3rem 3rem;
  border-bottom:1px solid #999;
  margin-bottom:1rem;
}
.container {
  padding-top:1rem;
  padding-bottom:1rem;
}
.code-box {
  margin-bottom:2rem;
  border:1px solid #ccc;
  border-radius:.5rem;
  overflow:hidden;
}

.back {
  margin:1rem 0;
  text-align: right;
  font-size:.85rem;
  padding:.5rem 0
}

label, legend {
  font-weight: bold;
}

.intro:not(:empty) {
  margin:1rem 0;
  padding: .5rem;
  border-radius: 4px;
  //border:1px solid #666;
  // background-color: #f7f7f7;
  font-style: italic;
  color: #666;

  p {
    margin-bottom: .3rem;
  }

  p:last-child {
    margin-bottom:0;
  }
}

.demo-wrapper {
  // border:1px solid #999;
  padding:.5rem 1rem;
  border-radius:.5rem;
  background-color: #fff;
}


// prism
.code-toolbar {
  height: 100%;
}
.code-toolbar pre {
  height: 100%;
  margin: 0;
}

// .demo_code {}

.github-banner {
  position: absolute;
  right:0;
  top:0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  a {
    display: block;
    text-align: center;
    padding:.5rem;
    width:12rem;
    background-color: #ddd;
    position: absolute;
    right:0;
    top:0;
    transform-origin: center;
    transform: translate(3rem, .5rem) rotate(45deg);

    &:hover {
      background-color: #333;
      svg {
        fill:#fff;
      }
    }
  }
  svg {
    width:2rem;
    height:2rem;
    fill: #666;
  }
}
